@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #ff3867, #ffc873, #d37ec6);
    font-family: 'Montserrat', 'Poppins', sans-serif;
}

.card {
    width: 450px;
    height: 600px;
    background-color: rgb(252, 239, 222);
    border-radius: 20px;
}

.banner {
    width: 100%;
    height: 200px;
    background-color: aqua;
    border-radius: 20px 20px 0px 0px;
    background-image: url(./components/teclado.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid #ffc873;
}

.logo {
    width: 128px;
    height: 128px;
    background-color: blue;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -110px;
    background-image: url(./components/avatar.png);
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d37ec6;
    border: 3px solid #d37ec6;
}


.content {
    position: relative;
    text-align: center;
    top: -100px;
    font-family: Poppins, Montserrat;
}

.content p {
    font-size: 18px;
    font-family: Poppins, Montserrat;
    padding: 0 20px;
    margin: 15px;
    text-align: left;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(174, 0, 255);
    position: relative;
    border-radius: 0px 0px 20px 20px;
}